<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div>
      <form action="document" method="post">
          title: <input type="text" name="title" />
          content: <input type="text" name="content" />
          <input type="submit" value="Submit"/>
      </form>
  </div>

    <div>
        <% for(index in list){ %>
        <h1> <%= list[index].title %> </h1>
        <h2> <%= list[index].content %> </h2>
        <button  onclick="deleleDocument(<%= list[index].id %>)">  delete  </button>
        <%}%>
    </div>
</body>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
  function deleleDocument(deleteId) {
    var action = "/document/" + deleteId;
    axios.delete(action, {
  })
  .then(function (response) {
    console.log(response);
    window.location.href="/";
  })
  .catch(function (error) {
    console.log(error);
  });
  }
</script>
</html>